<html>

{# Our app.py code borrowed significantly from the flask starter app code
https://github.com/osu-cs340-ecampus/flask-starter-app
We used the skeleton code for connecting to the db and used the same style for routing and templates.
We updated the code to match our columns and added routes for out M:N relationships
between Touring Plans and Restaurants and Touring Plans and Rides. We followed a similar pattern
for add/delete/update/get operations for each of our tables the routing and templating. 

We also used the course materials in the Explorations to add route 
handling capabilities, and to use gunicorn.
Source URL: https://canvas.oregonstate.edu/courses/1967354/pages/exploration-developing-in-flask?module_item_id=24460849

Original work: We added pages for our M:N relationship to display in a separate Plan View. #}

<head>
	<title>Edit Rides</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Ride: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in bsg_people-->
            <form id="edit_rides" action="/edit_rides/{{data[0].rideID}}" method="post">
                <legend><strong>Edit Ride</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].rideID}}" class="form-control" id="rideID" name="rideID" required>

                    <label for="rideName">Ride name:</label>
                    <input type="text" value="{{data[0].rideName}}" class="form-control" id="rideName" name="rideName" required>
                    
                    <label for="heightRestriction">Height Restriction:</label>
                    <input type="text" value="{{data[0].heightRestriction}}" class="form-control" id="heightRestriction" name="heightRestriction" >
                    
                    <label for="lightningLane">Lightning Lane:</label>
                    <input type="text" value="{{data[0].lightningLane}}" class="form-control" id="lightningLane" name="lightningLane">
                    
                    <label for="rideLength">Ride Length:</label>
                    <input type="text" value="{{data[0].rideLength}}" class="form-control" id="rideLength" name="rideLength" >
                    
				<label for="parkID">Park:</label>
				<select class="form-control" id="parkID" name="parkID" placeholder="" required>
				<!-- these are hard coded, but you can add code to make this dynamic -->
					<option value="0">&nbsp;</option>
					<option value="1">Magic Kingdom</option>
					<option value="2">Animal Kingdom</option>
					<option value="3">Epcot</option>
					<option value="3">Disney's Hollywood Studios</option>
					<option value="{{parks[0].parkID}}" selected></option>
				</select>
                        
                
                </fieldset>
                <input type="submit" value="Edit" name="edit_rides" class="btn btn-primary" style="margin:.5rem;">
                <a href='/rides'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>