<html>
<!-- Adapted from the people.html UI design -->

{# We may want to think about another design to incorporate the M:N elements #}
<head>
	<title>Touring Plans</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newTouringPlan() {
		showform('insert');
	}

	function browseTouringPlans() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseTouringPlans()">
	<h1>Touring Plans</h1> 
	[ <a href=" {{ url_for('home')}}">Home</a> |<a href="{{ url_for('parks')}}">Parks</a> | <a href="{{ url_for('rides')}}">Rides</a> | <a href="{{ url_for('restaurants')}}">Restaurants</a>  | <a href="{{ url_for('touring_plans')}}">Touring Plans</a> ]

	<div id="browse">
		<p><a href="#" onClick="newTouringPlan()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create pages for M:N relationships -->
						    <td><a href="add_rides/{{item.planID}}" class="btn btn-default">Add a Ride</a></td>
						    <td><a href="add_restaurants/{{item.planID}}" class="btn btn-default">Add a Restaurant</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into Restaurants-->
		<form id="insertTouringPlan" action="/touring_plans" method="post">
			<legend><strong>Add Touring Plan</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="planName">Plan name:</label>
				<input type="text" class="form-control" id="planName" name="planName" placeholder="" required>

				<label for="visitDate">Visit Date:</label>
                <input type="date" class="form-control" id="visitDate">

				<label for="park">park:</label>
				<select class="form-control" id="park" name="park" placeholder="" required>
				<!-- these are hard coded, but you can add code to make this dynamic -->
					<option value="0">&nbsp;</option>
					<option value="1">Magic Kingdom</option>
					<option value="2">Animal Kingdom</option>
					<option value="3">Epcot</option>
					<option value="3">Disney's Hollywood Studios</option>
					<option value="{{parks[0].parkID}}" selected></option>
				</select>

				<label for="visitorName">Visitor Name:</label>
				<input type="text" class="form-control" id="visitorName" name="visitorName" placeholder="">

            </fieldset>

            <!-- Create 'Add Restaurant' and 'Cancel' buttons -->
			<input type="submit" value="insertTouringPlan" name="insertTouringPlan" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseTouringPlans()"> 
        </form>
	</div><!--insert-->
	

</body>
</html>